*{
	margin: 0;
	padding: 0;
}
ul li{
	list-style: none;
}
body{
	max-width: 680px;
	min-width: 320px;
	margin: 0 auto;
	width: 100%;
	background: #ededed;
}
a{
	text-decoration: none;
}
.kuan{
	width: 100%;
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
}
.a{
	width: 6.8rem;
	/*max-height: 6.8rem;*/
	margin: 0 auto;
	height: 1.16rem;
	background: url(../img/newnav-bg.jpg) no-repeat;
	background-size:100%;	
}
.a-1,.a-2,.a-3{
	float: left;
}
.a-1{
	width: 1.3rem;
	height: 1.05rem;
	padding-top: 0.11rem;
}
.a-1 img{
	width: 0.95rem;
	display: block;
	margin: auto;
}
.a-2{
	width: 3.2rem;
	height: 1.16rem;
}
.p-1{
	font-size: 0.28rem;
	color: #ffca37;
	position: relative;
	line-height: 0.62rem;
}
.p-1:before{
	content: "";
	position: absolute;
	top: 0.22rem;
	left: 1.2rem;
	width: 0.7rem;
	height: 0.26rem;
	background: url(../img/new_version.png) no-repeat;
	background-size: 100%;
}
.p-2{
	font-size: 0.2rem;
	color: #fff;
}
.a-3{
	width: 1.6rem;
	height: 1.16rem;
}
.a-3 a{
	text-align: center;
	width: 1.4rem;
	height: 0.5rem;
	position: relative;
	display: block;
	background: url(../img/nav_m_btn.png)no-repeat;
	background-size: 100%;
	margin-top: 0.36rem;
}

.a-3 a:before{
	content: "";
	width: .4rem;
    height: .18rem;
    background: url(../img/nav_new.png) no-repeat;
    background-size: .4rem .18rem;
    position: absolute;
    top: -.02rem;
    right: -.06rem;
}
.b{
	width: 5.84rem;
	height: 0.78em;
	background: url(../img/nav-bg.png)no-repeat;
	background-size: 100%;
	padding: 0 .76rem 0 .2rem;
	display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.16rem;
}
.b .b-1{
	width: 4.62rem;
	height: 0.78em;
	float: left;
}
.b .b-1 a{
	display: block;
	color: #fff;
	font-size: 0.24rem;
	width: 25%;
	float: left;
	text-align: center;
	line-height: 0.78rem;
}
.b-2{
	width: 1.1rem;
	height: 0.48rem;
	float: left;
	background: url(../img/login-head.png)no-repeat center/cover;
	background-size: 100%;
	font-size: 0;
}
/*以下部分弹窗*/
.zhezhao{
				position: fixed;
				left: 9%;
				top: 22%;
				/*background: #000;*/
				width: 5.83rem;
				height: 3.06rem;
				z-index: 999;
			}
			.tankuang{
				position: relative;
				background: #fff;
				width: 5.83rem;
				height: 3.06rem;
				background: url(../img/dia-login-bg.png)no-repeat center/cover;
			}
			#header{
				height: .5rem;
			}
			#header span{
				width: 5.83rem;
				height: .48rem;
				color: #fff;
				line-height: .48rem;
				font-size: .34rem;
				display: block;
				text-align: center;
			}
			#header-right{
				position: absolute;
				width: .25rem;
				height: .25rem;
				right: .1rem;
				top:.1rem;
				text-align: center;
				background: url(../img/dia-login-close.png)no-repeat center/cover;
			}
			.tu-1{
				width: 20%;
				position: absolute;
				top: 30%;
				left: 20%;
			}
			.tu-2{
				width:20%;
				position: absolute;
				top:30%;
				right: 20%;
			}
/*fenge*/
.c{
	overflow: hidden;
	width: 100%;
	height: 5rem;
}
#lunbo ul li {
	width: 100%;
	list-style: none;
	text-align: center;
	cursor: pointer;
	position: relative;
}
#lunbo ul li img{
	width: 100%;
}
#lunbo ul li:not(:first-child) {
	display: none;
}
.c-1{
	width: 6.8rem;
	height: 0.8rem;
	position: absolute;
	bottom: 0.26rem;
	left: 0;
	background: #000;
	opacity: 0.8;
}
.c-1 a{
	font-size: 0.28rem;
	color: #fff;
	position: absolute;
	top: 0.2rem;
	left: 0;
	text-indent: 1em;
}
.d{
	width: 6.3em;
	height: .5rem; 
	margin: .1rem auto;
	padding: .1rem;
	line-height: .5rem;
	background: #f5f5f5;
}
.d a{
	font-size: .25rem;
	color: #ffaa00;
	display: block;
	font-weight: bold;
}
/*tab切换*/
.e{
	width: 6.4rem;
	padding: .2rem .2rem 0;
	background: #fff;
	margin-bottom: .1rem;
}
.e h2{
	font-size: .32rem;
	font-weight: bold;
	position: relative;
	padding-bottom: .1rem;
	border-bottom: dashed 1px #ccc;
}
.e h2 i{
	width: .38rem;
	height: .38rem;
	background: url(../img/icon_spr.png)no-repeat center/cover;
	float: left;
	/*line-height: .42rem;*/
	background-position: 0rem -1.49rem;
}
.e h2 a{
	position: absolute;
    right: 0;
    bottom: .25rem;
    background: url(../img/more.png) no-repeat center/cover;
    width: .4rem;
    height: .08rem;
}
/* 设置标签内按钮的样式 */
div.tab{
	overflow: hidden;
	background: #fff;
	padding: .15rem 0;
}		
div.tab button {
	width: 20%;
	background-color: inherit;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	font-size: .24rem;
	position: relative;
}
div.tab button:before{
	content: "";
    position: absolute;
    top: 33%;
    right: 0;
    width: .02rem;
    height: .15rem;
    border-left: dashed 1px #cacaca;
}
/* 悬停时更改按钮的背景颜色 */
div.tab button p{
	width: 38px;
	height: 48px;
}
div.tab button:hover {
	color: #ffb007;
}
/* 创建活动/当前tablink类 */
.tab button.active {
	color: #ffb007;
	border-bottom: 2px solid #ff9a6a;
}
/* 设置标签内容的样式 */
.tabcontent {
	display: none;
	border-top: none;
	/*padding-top: .2rem;*/
}
.tabcontent li{
	height: .55rem;
	line-height: .55rem;
}
.tabcontent li a{/*所有a标签内容都会显示...*/
	font-size: .24rem;
	white-space: nowrap;
	overflow: hidden;
	display: inline-block;
	color: #000;
	text-overflow: ellipsis;
	float: left;
	width: 80%;
}
.tabcontent li i{
	float: right;
	font-style: normal;
	line-height: .55rem;
	color: #818181;
	font-size: .2rem;
	width: 20%;
	text-align: right;
}
.tabcontent li a span{
	margin-right:.1rem;
}
/*fengexian*/
.xinw{
	width: 6.4rem;
	padding: .2rem .2rem 0;
	background: #fff;
}
.xinw h2{
	font-size: .32rem;
	font-weight: bold;
	position: relative;
	padding-bottom: .1rem;
	border-bottom: dashed 1px #ccc;
}
.xinw h2 i{
	width: .38rem;
	height: .38rem;
	background: url(../img/icon_spr.png)no-repeat center/cover;
	float: left;
	/*line-height: .42rem;*/
	background-position: 0rem -1.49rem;
}
.xinw h2 a{
	position: absolute;
    right: 0;
    bottom: .25rem;
    background: url(../img/more.png) no-repeat center/cover;
    width: .4rem;
    height: .08rem;
}
.bao a{
	display: flex;
	justify-content: space-around;
}
.bao p{
	height: .63rem;
	font-size: .26rem;
	float: left;
	line-height: .63rem;
	color: #282828;
	position: relative;
}
.bao p:before{
	content: '';
    width: 1px;
    height: .17rem;
    border-right: dashed 1px #cacaca;
    position: absolute;
    top: .28rem;
    right: -.25rem;
}
.liao a{
	display: block;
}
.liao img{
	width: 6.4rem;
	height: 3.9rem;
}
/*fengexian*/
.f{
	overflow: hidden;
	background: #fff;
	margin-top: .1rem;
	width: 6.4rem;
	padding: .2rem .2rem 0;
}
.f h2{
	font-size: .32rem;
	font-weight: bold;
	position: relative;
	padding-bottom: .1rem;
	border-bottom: dashed 1px #ccc;
}
.f h2 i{
	width: .38rem;
	height: .38rem;
	background: url(../img/icon_spr.png)no-repeat center/cover;
	float: left;
	/*line-height: .42rem;*/
	background-position: 0rem -1.49rem;
}
.f h2 a{
	position: absolute;
    right: 0;
    bottom: .25rem;
    background: url(../img/more.png) no-repeat center/cover;
    width: .4rem;
    height: .08rem;
}
.zuo{
	width: 6.4rem;
	overflow: hidden;
	/*position: relative;*/
	padding: .1rem 0;
}
#head{
	width: 6.4rem;
	height: .45rem;
	
}
/*tab切换-2*/
#head ul {
	padding: 0;
	margin: 0;
	width: 6.4rem;
	height: .45rem;
	float: right;
}

#head ul li {
	list-style: none;
	float: left;
	text-decoration: none;
	display: block;
	width: 25%;
	position: relative;
	line-height: .45rem;
	text-align: center;
	font-size: .26rem;
	
}

#head ul li a {
	text-decoration: none;
	color: #000000;
}

#head .spzx{
	font-size: 24px;
	height: 30px;
	float: left;
	position: relative;
	padding-left: 30px;
}
#head .spzx:before{
	content: "";
	width: 26px;
	height: 26px;
	display: inline-block;
	background: url(img/sprites.png) no-repeat -60px 0px;
	position: absolute;
	top: 2px;
	left: 0;
}
#L1,#L2,#L3,#L4{
	cursor: pointer;
}
#L1:before,#L2:before,#L3:before{
	content: "";
    position: absolute;
    top: 33%;
    right: 0;
    width: .02rem;
    height: .15rem;
    border-left: dashed 1px #cacaca;
	
}
#L1:hover{
	color: #efa611;
}

#L2:hover{
	color: #efa611;
}

#L3:hover{
	color: #efa611;
}

#L4:hover{
	color: #efa611;
}
#d1 a,#d2 a,#d3 a,#d4 a{
	width: 100%;
	height: 1.8rem;
	display: block;
	background: #fff;
	position: relative;
}
#d1 img,#d2 img,#d3 img,#d4 img{
	width: 100%;
}
#d1 ul li,#d2 ul li,#d3 ul li,#d4 ul li{
	float: left;
	width: 3.12rem;
	margin-bottom: .1rem;	
}

#d1 a:before,#d2 a:before,#d3 a:before,#d4 a:before{
	content: "";
	width: .75rem;
	height: .75rem;
	position: absolute;
	top: 28%;
	left: 37%;
	/*transition: all 0.3s;*/
	background: url(../img/spr.png) no-repeat 0 -1.25rem;
	background-size: 2rem 2rem;
}

.huang{
	font-size: .15rem;
	color: #3b3b3b;
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    background: #fff;
    height: .5rem;
    line-height: .5rem;
    font-size: .22rem;
}
#d1,#d2,#d3,#d4{
	width: 6.4rem;
	background: #fff;
}
#d1 ul,#d2 ul,#d3 ul,#d4 ul{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}
.duo{
	text-align: center;
	height: .54rem;
	line-height: .54rem;
	background: #f8f8f8;
}
.duo a{
	color: #282828;
	font-size: .2rem;
	display: block;
}
/*fengexain*/
.j{
	overflow: hidden;
	background: #fff;
	margin-top: .1rem;
	width: 6.4rem;
	/*margin-bottom: .1rem;*/
	padding: .2rem .2rem 0;
}
.j h2{
	font-size: .32rem;
	font-weight: bold;
	position: relative;
	padding-bottom: .1rem;
	border-bottom: dashed 1px #ccc;
}
.j h2 i{
	width: .38rem;
	height: .38rem;
	background: url(../img/icon_spr.png)no-repeat center/cover;
	float: left;
	/*line-height: .42rem;*/
	background-position: 0rem -1.49rem;
}
.j h2 ul{
	width: 1rem;
	height: .42rem;
	float: right;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.j #L1-1,.j #L2-1,.j #L3-1{
	font-size: .26rem;
	font-weight: 100;
	float: right;
}
.j #L1-1:hover,.j #L2-1:hover,.j #L3-1:hover{
	color: #efa611;
}


#a1 ul li,#a2 ul li,#a3 ul li{
	overflow: hidden;
	/*height: .65rem;*/
	padding-bottom: .1rem;
	position: relative;
	padding-top: .2rem;
	border-bottom:  dashed 1px #ccc ;
}
#a1 ul li:nth-child(1),#a2 ul li:nth-child(1),#a3 ul li:nth-child(1){
	/*height: 1.04rem;*/
}
#a1 ul li:nth-child(1) i,#a1 ul li:nth-child(2) i,#a1 ul li:nth-child(3) i,#a1 ul li:nth-child(4) i,#a1 ul li:nth-child(5) i,#a1 ul li:nth-child(6) i,#a2 ul li:nth-child(1) i,#a2 ul li:nth-child(2) i,#a2 ul li:nth-child(3) i,#a2 ul li:nth-child(4) i,#a2 ul li:nth-child(5) i,#a2 ul li:nth-child(6) i,#a3 ul li:nth-child(1) i,#a3 ul li:nth-child(2) i,#a3 ul li:nth-child(3) i,#a3 ul li:nth-child(4) i,#a3 ul li:nth-child(5) i,#a3 ul li:nth-child(6) i{
	width: .26rem;
    /*height: .27rem;*/
    position: absolute;
    left: 0;
    top: 0.22rem;
    text-align: center;
    line-height: .26rem;
    font-size: .18rem;
    color: #fff;
    font-style: normal;
}
#a1 ul li:nth-child(1) i,#a2 ul li:nth-child(1) i,#a3 ul li:nth-child(1) i{
	background: url(../img/newsprite.png) no-repeat -3.99rem -.6rem/7.5rem 13rem;
}
#a1 ul li:nth-child(2) i,#a2 ul li:nth-child(2) i,#a3 ul li:nth-child(2) i{
	background: url(../img/newsprite.png) no-repeat  -4.4rem -.6rem/7.5rem 13rem;
}
#a1 ul li:nth-child(3) i,#a2 ul li:nth-child(3) i,#a3 ul li:nth-child(3) i{
	background: url(../img/newsprite.png) no-repeat -4.8rem -.6rem/7.5rem 13rem;
}
#a1 ul li:nth-child(4) i,#a1 ul li:nth-child(5) i,#a1 ul li:nth-child(6) i,#a2 ul li:nth-child(4) i,#a2 ul li:nth-child(5) i,#a2 ul li:nth-child(6) i,#a3 ul li:nth-child(4) i,#a3 ul li:nth-child(5) i,#a3 ul li:nth-child(6) i{
	background: url(../img/newsprite.png) no-repeat -5.2rem -.6rem/7.5rem 13rem;
}
#a1 .tuu,#a2 .tuu,#a3 .tuu{
	overflow: hidden;
	width: 100%;
	height: 1.09rem;
	display: block;
}

.ty{
	overflow: hidden;
	width: 100%;
	/*height: .65rem;*/
	display: block;
}
.ty img{
	float: left;
	height: .59rem;
	width: 1.04rem;
}
.tuu img{
	width: 2.04rem;
	height: 1.04em;
}

.you{
	width: 4.18rem;
	height: 1.04rem;
	float: right;
}
.yk{
	width: 5.18rem;
	/*height: .65rem;*/
	float: right;
}
.yk-1{
	font-size: .24rem;
	height: .29rem;
}
.yk-2{
	font-size: .2rem;
	padding-top: .1rem;
	height: .24rem;
}
.yk-1 p{
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #000;
    float: left;
    width: 84%;
}
.yk-1 span{
	float: right;
	color: #878787;
}
.you-1{
	height: .7rem;
}
.you-2{
	height: .24rem;
	font-size: .2rem;
	padding-top: .1rem;
}
.you-1 p{
	width: 84%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #000;
    float: left;
    font-size: .26rem;
}
.you-1 span{
	float: right;
	font-size: .26rem;
	color: #878787;
}
.you-2 p,.yk-2 p{
	float: left;
    color: #878787;
    position: relative;
    padding-left: .2rem;
}
.you-2 p:before,.yk-2 p:before{
	content: "";
	position: absolute;
	top: .04rem;
	left: 0;
	width: .2rem;
    height: .19rem;
    background: url(../img/newsprite.png) no-repeat -1.5rem -1.1rem/7.5rem 13rem;
}
.you-2 span,.yk-2 span{
	float: right;
    color: #878787;
    position: relative;
    padding-left: .2rem;
}
.you-2 span:before,.yk-2 span:before{
	content: "";
	position: absolute;
	top: .03rem;
	left: 0;
	width: .2rem;
	height: .2rem;
	background: url(../img/newsprite.png) no-repeat -1.2rem -1.1rem/7.5rem 13rem;
}
/*分割线*/
.h,.i{
	width: 6.4rem;
	padding: .2rem .2rem 0;
	background: #fff;
	margin-top: .2rem;
}
.h h2,.i h2{
	font-size: .32rem;
	font-weight: bold;
	position: relative;
	padding-bottom: .1rem;
	border-bottom: dashed 1px #ccc;
}
.h h2 i,.i h2 i{
	width: .38rem;
	height: .38rem;
	background: url(../img/icon_spr.png)no-repeat center/cover;
	float: left;
	/*line-height: .42rem;*/
	background-position: 0rem -1.49rem;
}
/*.h h2 a,.i h2 a{
	position: absolute;
    right: 0;
    bottom: .25rem;
    background: url(../img/more.png) no-repeat center/cover;
    width: .4rem;
    height: .08rem;
}*/
.h-1,.i-1{
	font-size: .22rem;
	height: .63rem;
}
.h-1 p,.i-1 p{
	float: left;
	position: relative;
	text-align: center;
	line-height: .63rem;
}
.h-1 p{
	width: 33%;
}
.i-1 p{
	width: 25%;
}
.h-1 p:nth-child(1):before,.h-1 p:nth-child(2):before,.i-1 p:nth-child(1):before,.i-1 p:nth-child(2):before,.i-1 p:nth-child(3):before{
	content: "";
    position: absolute;
    top: 40%;
    right: 0;
    width: .02rem;
    height: .15rem;
    border-left: dashed 1px #cacaca;
}
.h-2,.i-2{
	font-size: .24rem;
	overflow: hidden;
	width: 100%;
	display: flex;
	flex-flow: wrap;
	justify-content: space-between;
}
.h-2 li,.i-2 li{
	float: left;
	width: 49%;
	cursor: pointer;
}
.h-2 li img,.i-2 li img{
	width: 3.17rem;
	height: 1.57rem;
}
.h-2 p,.i-2 p{
	height: .66rem;
	width: 3.17rem;
	color: #000;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    font-size: .22rem;
}
.h-3{
	display: block;
	height: .54rem;
	line-height: .54rem;
	text-align: center;
	font-size: .22rem;
	color: #282828;
	background: #F8F8F8;
	margin-top: .2rem;
}
.i-2 li span{
    color: #a1a1a1;
    font-size: .17rem;
    margin-bottom: .2rem;
    margin-top: .1rem;
}
.i-2 li span:nth-child(n+3){
	float: left;
	width: 50%;
	display: block;
	text-align: left;
}
.i-2 li span:nth-child(n+4){
	float: right;
	width: 50%;
	display: block;
	text-align: right;
}
/*fengexian*/
.g{
	width: 6.4rem;
	padding: .2rem .2rem 0;
	background: #fff;
	margin-top: .2rem;
}
.g h2{
	font-size: .32rem;
	font-weight: bold;
	position: relative;
	padding-bottom: .1rem;
	border-bottom: dashed 1px #ccc;
}
.g h2 i{
	width: .38rem;
	height: .38rem;
	background: url(../img/icon_spr.png)no-repeat center/cover;
	float: left;
	/*line-height: .42rem;*/
	background-position: 0rem -1.49rem;
}
/*.g h2 a{
	position: absolute;
    right: 0;
    bottom: .25rem;
    background: url(../img/more.png) no-repeat center/cover;
    width: .4rem;
    height: .08rem;
}*/
.g ul {
	overflow: hidden;
}
.g ul li{
	float: left;
	margin-top: .2rem;
}
.g ul li p{
	text-align: center;
    width: 1.6rem;
    font-size: .20rem;
    color: #000;
}
.g ul li img{
	width: 1.18rem;
	height: 1.18rem;
	border-radius:50% ;
	margin-left: 13%;
}
/*femgfexian*/
.k{
	width: 6.4rem;
	padding: .2rem .2rem 0;
	background: #fff;
	margin-top: .2rem;
}
.k h2{
	font-size: .32rem;
	font-weight: bold;
	position: relative;
	padding-bottom: .1rem;
	/*border-bottom: dashed 1px #ccc;*/
}
.k h2 i{
	width: .38rem;
	height: .38rem;
	background: url(../img/icon_spr.png)no-repeat center/cover;
	float: left;
	/*line-height: .42rem;*/
	background-position: 0rem -1.49rem;
}
.k-1{
	position: relative;
}
.k-1 img{
	width: 6.4rem;
	height: 3.8rem;
}
.ding{
	width: .63rem;
	height: 1rem;
	background: url(../img/spr.png) no-repeat;
	position: absolute;
	top: 36%;
	left: 0;
	/*background-size: 2rem 2rem;*/
	opacity: .6;
	background-position: 0 0;
}
.wei{
	width: .63rem;
	height: 1rem;
	background: url(../img/spr.png) no-repeat;
	position: absolute;
	top:36%;
	right: 0;
	opacity: .6;
	background-position: -.76rem 0;
}
.k-1 ul{
	overflow: hidden;
	position: absolute;
	bottom: 0;
	left: 40%;
	width: 1.2rem;
	display: flex;
	justify-content: space-between;
	height: .2rem;
}
.k-1 ul li{
	width: .11rem;
	height: .11rem;
	background-color: #EDEDED;
	float: left;
}
.k-1 ul li:nth-child(2){
	width: .22rem;
	background-color: #feb012;
}
/*ferngexian*/
.l{
	width: 100%;
	margin-top: .2rem;
	background: url(../img/footer-bg-new.jpg)no-repeat;
	background-size: 100%  100%;
	overflow: hidden;
}
.l ul {
	overflow: hidden;
	padding: .3rem 0;
	display: flex;
	flex-flow: wrap;
	justify-content: center;
}
.l ul li{
	width: 25%;
	float: left;
	text-align: center;
	margin-bottom: .2rem;
}
.l li a{
	display: block;
	width: 100%;
	height: 100%;
}
.l li img{
	width: 33%;
	display: block;
	margin: 0 auto;
	
}
.l ul li p{
	width: 100%;
	font-size: .15rem;
    color: #989da5;
    text-align: center;
}
/**/
.m{
	font-size: .16rem;
	color: #FFFFFF;
	background: #000000;
	text-align: center;
}

.m img{
	width: 100%;
	
}
.m div a{
	color: #fff;
}
.m div:nth-child(1){
	padding-top: .4rem;
	width: 4.3rem;
	margin: 0 auto;
}
.m div:nth-child(2){
	padding: .2rem 0;
}
.m div p:nth-child(2){
	margin: .1rem 0;
}
